body {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #fff;
  font-family: 'Arial', sans-serif;
}

.container {
  text-align: left;
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  font-size: 18px;
}

#output {
  margin-top: 20px;
  font-size: 18px;
  line-height: 1.5;
  white-space: pre-wrap;
}

#output p{
  margin: 15px 5px;
}

#recordButton,
#copyButton,
#downloadButton,
#clearButton {
  align-items: center;
  appearance: none;
  background-color: #fff;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #3c4043;
  cursor: pointer;
  display: inline-flex;
  margin-right: 10px;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 20px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 16px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

#recordButton:hover,
#copyButton:hover,
#downloadButton:hover {
  background: #F6F9FE;
  color: #174ea6;
}

#clearButton:hover {
  background: #FFF0F0;
  color: red;
}

#recordButton:active,
#copyButton:active,
#downloadButton:active,
#clearButton:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

#recordButton:focus,
#copyButton:focus,
#downloadButton:focus {
  outline: none;
  border: 2px solid #4285f4;
}

#clearButton:focus {
  outline: none;
  border: 2px solid #fd4d4d;
}